<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Students</title>
    <link rel="stylesheet"
          href="/style.css">
</head>
<body>
<div class="container">
    <div class="row">
        <h1 class="text-center">LIST OF ALL THE STUDENTS</h1>
    </div>
    <div class="row">
        <div class="col-sm-4 mb-3">
            <a class="btn btn-light" th:href="@{/students/add}">ADD STUDENT</a>
        </div>
    </div>
    <table class="table table-hover table-striped">
        <thead class="table-dark">
        <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Gender</th>
            <th scope="col">Email</th>
            <th scope="col">Select Action</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        <tr th:each="student: ${students}">
            <td th:text="${student.firstName}"></td>
            <td th:text="${student.lastName}"></td>
            <td th:text="${student.gender}"></td>
            <td th:text="${student.email}"></td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>